<h3>内容確認</h3>

<%= form_for(@information) do |f| %>
  <%= f.hidden_field :group %>
  <%= f.hidden_field :service %>
  <%= f.hidden_field :category %>
  <%= f.hidden_field :environment %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :serial %>
  <%= f.hidden_field :server_name %>
  <%= f.hidden_field :support_contact %>
  <%= f.hidden_field :support_contact_period %>
  <%= f.hidden_field :support_id %>
  <%= f.hidden_field :hard_support_conditions %>
  <%= f.hidden_field :hard_contact_tel %>
  <%= f.hidden_field :hard_contact_mail %>
  <%= f.hidden_field :hard_contact_other %>
  <%= f.hidden_field :soft_support_conditions %>
  <%= f.hidden_field :soft_contact_tel %>
  <%= f.hidden_field :soft_contact_mail %>
  <%= f.hidden_field :soft_contact_other %>
  <%= f.hidden_field :os_version %>
  <%= f.hidden_field :eos_hard %>
  <%= f.hidden_field :eos_soft %>
  <%= f.hidden_field :sales_contact %>
  <%= f.hidden_field :sales_contact_tel %>
  <%= f.hidden_field :sales_contact_mail %>
  <%= f.hidden_field :remarks_1 %>
  <%= f.hidden_field :remarks_2 %>
  <%= f.hidden_field :remarks_3 %>
  <%= f.hidden_field :non_alert_flag %>

  <p>グループID:<%= @information.group %></p>
  <p>サービスID:<%= @information.service %></p>
  <p>機種別ID:<%= @information.category %></p>
  <p>環境ID:<%= @information.environment %></p>
  <p>機器名:<%= @information.name %></p>
  <p>シリアルナンバー:<%= @information.serial %></p>
  <p>サーバー名:<%= @information.server_name %></p>
  <p>保守ベンダー:<%= @information.support_contact %></p>
  <p>保守契約期間:<%= @information.support_contact_period %></p>
  <p>保守番号:<%= @information.support_id %></p>
  <p>ハード保守条件:<%= @information.hard_support_conditions %></p>
  <p>ハード保守電話番号:<%= @information.hard_contact_tel %></p>
  <p>ハード保守メールアドレス:<%= @information.hard_contact_mail %></p>
  <p>ハード保守その他:<%= @information.hard_contact_other %></p>
  <p>ソフト保守条件:<%= @information.soft_support_conditions %></p>
  <p>ソフト保守電話番号:<%= @information.soft_contact_tel %></p>
  <p>ソフト保守メールアドレス:<%= @information.soft_contact_mail %></p>
  <p>ソフト保守その他:<%= @information.soft_contact_other %></p>
  <p>OSバージョン:<%= @information.os_version %></p>
  <p>ハード保守期限:<%= @information.eos_hard %></p>
  <p>ソフト保守期限:<%= @information.eos_soft %></p>
  <p>営業担当者:<%= @information.sales_contact %></p>
  <p>営業電話番号:<%= @information.sales_contact_tel %></p>
  <p>営業メールアドレス:<%= @information.sales_contact_mail %></p>
  <p>備考1:<%= @information.remarks_1 %></p>
  <p>備考2:<%= @information.remarks_2 %></p>
  <p>備考3:<%= @information.remarks_3 %></p>
  <p>保守期限アラート無効:<%= @information.non_alert_flag %></p>

  <%= f.submit "登録する" %>
<% end %>