<!DOCTYPE html>
<html>
  <head>
    <title>VMIMS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <ul>
      <li><%= link_to "VMIMS", root_path %></li>
      <li><%= link_to "登録情報一覧", information_index_path %></li>
        <li><%= link_to "新規登録", new_information_path %></li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
